/* Buttons start */
.button{
	background-color: var(--color-secondary) !important;
	border: 1px solid var(--color-secondary) !important;
	color: var(--color-primary) !important;
}
.button:hover{
	background-color: var(--color-tertiary) !important;
}
.wc-block-components-button{
	background-color: var(--color-secondary);
	border: 1px solid var(--color-secondary);
	color: var(--color-primary);
}
/* Buttons End */

/* #################################################### */

/* Breadcrumb start */
.woocommerce-breadcrumb a {
    color: var(--color-primary) !important;
	font-weight: 500;
}
/* custom breadcrumb for archive page if need
<span class="archive-breadcrumb"><?php woocommerce_breadcrumb(); ?></span>
*/
.archive-breadcrumb .woocommerce-breadcrumb {
    color: #fff;
}
.archive-breadcrumb .woocommerce-breadcrumb a {
    color: var(--color-primary) !important;
}
/* Breadcrumb End */

/* #################################################### */

/* Archive Products Start */
.woocommerce-loop-product__title{
	color: #000;
}
.woocommerce-loop-product__title:hover{
	color: var(--color-primary);
}
.woocommerce span.onsale{
	background-color: var(--color-primary);
}
/* Archive Products End */

/* #################################################### */

/* single product page start */
.product_meta a {
    color: var(--color-primary);
}
.product_meta span {
    display: block;
}
.woocommerce .quantity .qty {
    height: 2.3em;
}
section.related.products h2 {
    margin-bottom: 1rem;
}
/* single product page end */

/* #################################################### */

/* message start */
.woocommerce-message {
    border-top-color: var(--color-tertiary);
}
.woocommerce-message::before {
    color: var(--color-tertiary);
}
.woocommerce-info {
    border-top-color: var(--color-tertiary);
}
.woocommerce-info::before {
    color: var(--color-tertiary);
}
/* message end */

/* #################################################### */

/* cart page start */
/* empty cart icon color change */
.wc-block-cart__empty-cart__title.with-empty-cart-icon:before {
  background-color: var(--color-primary) !important;
}
/* if need */
.wc-block-components-product-name{
	color: var(--color-tertiary);
}
/* cart page end */

/* #################################################### */

/* my account start */

/* dashboard start */
nav.woocommerce-MyAccount-navigation ul {
	list-style: none;
  	padding-left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  	border: 1px solid #dee2e6;
}
nav.woocommerce-MyAccount-navigation ul li a {
  	display: block;
  	padding: 0.4rem 0.5rem;
}
nav.woocommerce-MyAccount-navigation ul li.is-active {
  	border: 1px solid var(--color-primary);
}
nav.woocommerce-MyAccount-navigation ul li.is-active a {
  	background-color: var(--color-primary);
  	color: #fff;
  	border: 1px solid var(--color-primary);
}
/* dashboard end */

.woocommerce-MyAccount-content form p button.button {
    margin-top: 0.8rem;
}

/* my account end */

/* #################################################### */

/* Optional Start */

/* For archive page breadcrumb hide */
nav.woocommerce-breadcrumb {
    display: none;
}

/* For hide only header title (also category content hide if not define h1) */
header.woocommerce-products-header h1 {
    display: none;
}

/* use if content is display */
header.woocommerce-products-header .term-description{
	margin-bottom: 3rem;
}

/* Optional End */